/* Global styles */

/* Color palette 
- main color: #172A54 rgb(34, 62, 122)
- secondary color: #2D4561 rgb(35, 57, 82)
- accent color: #FC6701 rgb(252, 103, 1)
- Light accent color: #FFBB04 rgb(255, 187, 4)
- text clor: #FAFAFA
*/

/* Hero styles */
.hero{
    width: 100%;
    height: 100vh;
    background:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)) , url('../images/pdr-service.jpg');
    background-size: cover;
    position: relative;
}

#container-banner{
    margin-top: 120px;
    max-width: 50%;
    margin-left: 8%;
}
@media (min-width: 1920px) {
    #container-banner{
        margin-top: 180px;
        max-width: 50%;
        margin-left: 8%;
    }
    #container-banner h1{
        font-size: 40px;
    }
    #container-banner p{
        font-size: 19px
    }
}

@media (max-width: 992px) {
    #container-banner h1{
        font-size: 20px;
    }
}

#container-banner h1{
    font-size: 35px;
}
#container-banner p{
    font-size: 16px
}

@media (max-width: 768px) {
    #container-banner{
        margin-top: 60px;
        max-width: 80%;
        margin-left: 8%;
    }
    #container-banner h1{
        font-size: 23.4px;
    }
    #container-banner p{
        font-size: 15px
    }
    .hero{
        width: 100%;
        height: 80vh;
        background:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)) , url('../images/pdr-service.jpg');
        background-size: cover;
        position: relative;
    }
}

.btn{
    background-color: #FC6701;
    border-radius: 1.2rem;
    font-weight: 600;
    font-size: 1.3rem;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    border: solid 3px #FC6701;
    color: #fafafa;
    display: inline-block;
    margin-top: 2.2rem;
    padding: 1.2rem 2.3rem;
    transition: all 650ms;
}

.btn:hover{
    color: #FC6701;
    background-color: transparent;
}

/* How we do it */
.how-we-do-it{
    margin-top: -2rem;
    padding-top: 2.5rem;
}

.how-we-do-it-grid{
    display: relative;
    margin-top: -2rem;
}

.how-we-do-it-text{
    float: left;
    width: 100%;
}

.info-item{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 1.5rem auto;
}

.how-we-do-it-text .number-image{
    position: relative;
    height: 3.2rem;
    width: 3.2rem;
    margin: 1.8rem;
}

.how-we-do-it-text img{
    height: 100%;
    width: 100%;
}

.how-we-do-it-grid p{
    color: rgba(0, 0, 0, .7);
}

.how-we-do-it-image{
    position: relative;
    margin: 0 auto;
    width: 100%;
}

.how-we-do-it .btn{
    margin-left: 50%;
    transform: translateX(-50%);
}
/* Services styles */
.experience-outdoors{
    padding: 2rem 0;
}

.activities-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 2.5rem;
}

.activities-grid-item{
    height: 40rem;
    padding: 5rem;
    color: black;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* cursor: pointer; */
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
    border-radius: 8px;
    transition: transform 0.3s;
}

.activities-grid-item:hover{
    cursor: pointer;
    transform: scale(1.07);
    box-shadow: rgba(201, 138, 28, 0.2) 0px 7px 29px 0px;
}


.auto-glass{
    background: url("images/glass-repair.jpg") center no-repeat;
    background-size: cover;
}

.collision-repair{
    background: url("images/collision-repair.jpg") center no-repeat;
    background-size: cover;
}

.detail-service{
    background: url("images/detailing-service.png") center no-repeat;
    background-size: cover;
}

.refinishing-service{
    background: url("images/pdr-service.jpg") center no-repeat;
    background-size: cover;
}

.wheel-repair{
    background: url("images/wheel-repair.jpg") center no-repeat;
    background-size: cover;
}

.activities-grid-item i{
    font-size: 4.6rem;
    color: #FC6701;
}

.activities-grid-item h1{
    font-family: 'Aldrich', sans-serif;
    font-size: 1.9rem;
    text-transform: uppercase;
    margin: 2rem 0;
}

/* Testimonials styles */

.testimonials{
    width: 100%;
    height: 60vh;
    background: linear-gradient(135deg, rgba(34, 62, 122, 0.9) 0%, rgba(35, 57, 82, 0.8) 100%), url("images/testimonials-bg.jpg") center no-repeat fixed;
    background-size: cover;
    position: relative;
}

.testimonials::before{
    content: '';
    position: absolute;
    top: -3px;
    left: 0;
    width: 100%;
    height: 4.7rem;
    background: url("images/wave-small-reversed.png") center no-repeat;
    background-size: cover;
}

.testimonial{
    width: 100%;
    color: #fafafa;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.testimonial-text-box{
    padding: 0 1.5rem;
    margin-bottom: 2rem;
    position: relative;
}

.testimonial-text-box i{
    position: absolute;
    top: -12rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 8rem;
    color: #FC6701;
    opacity: .5;
    z-index: -1;
}

.testimonial-customer img{
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    border: 3px solid #FC6701;
}


/* Adventure styles */

.adventure-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 2.5rem;
    margin-bottom: 2rem;
}
@media (max-height: 768px) {
    .testimonial-text-box{
        margin-top: 200px;
    }
}

.adventure-grid p{
    color: rgba(0, 0, 0, .7);
}

.adventure-full-grid-item p{
    color: rgba(0, 0, 0, .7);
}
#img-chossing{
    background: url("images/choosing-us.jpg") center no-repeat;
    background-size: contain;
    height: 100%;
    width: 100%;
    position: relative;
}
/* Start price */
.price{
    padding: 5rem 0;
}


.price .price-table{
    overflow: hidden;
    background-color: #FFF;
    box-sizing: border-box;
    box-shadow: 0 0 12px rgba(0,0,0,.2);
    border-radius: 20px;
    color:#333;
    min-height: 60rem;
    margin: 1.5rem 1rem;
    transition: all 350ms ease-in;
}

.price .price-table:hover{
    box-shadow: 0 0 24px rgba(0,0,0,.4);
}

.price .price-table .price-head{
    padding: 25px 40px;
    background: linear-gradient(135deg, rgba(20, 67, 168, 0.9) 0%, rgba(49, 80, 116, 0.9) 100%);
    color: #fafafa;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 50%;  
}

.price .price-table .price-head h4{
    font-family: 'Aldrich', sans-serif;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2.2rem;  
}

.price .price-table .price-head h2{
    letter-spacing: 1.4px;
    text-transform: uppercase;
    font-size: 2rem;  
}

.price .price-table .price-content ul{
    position: relative;
    padding: 1rem 3rem;
    margin: 1rem auto;
}

.price .price-table .price-content ul li{
    list-style: none;
    font-size: 1.6rem;
    line-height: 35px;
    font-weight: 600;
    color:rgba(0, 0, 0, .7);
    text-transform: uppercase;
    cursor: pointer;
}

.price .price-table .price-btn button{
    position: absolute;
    left: 40%;
    bottom: 2.5rem;
    background-color: #FC6701;
    border-radius: 1.2rem;
    font-weight: 600;
    font-size: 1.3rem;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    border: solid 3px #FC6701;
    color: #fafafa;
    transform: translateX(-35%);
    margin: 1rem 0;
    padding: 1rem 2rem;
    transition: all 650ms;
}

.price .price-table .price-btn button:hover{
    color: #FC6701;
    background-color: transparent;
}

.glide__arrows{
    position: relative;
    display: flex;
    margin: 1rem auto;
    flex-direction: row;
    justify-content: initial;
}

.glide__arrows .glide__arrow{
    background: linear-gradient(135deg, rgba(34, 62, 122, 0.9) 0%, rgba(35, 57, 82, 0.8) 100%);;
    border: none;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border-radius: 15%;
    color: #ec8c0d;
    font-size: 22px;
    outline: none;
    margin-right: 15px;
    padding: 0;
    cursor: pointer;
}

.glide__arrows .glide__arrow:active,
.glide__arrows .glide__arrow:hover{
    transform: scale(1.1);
    transition: all ease 0.5s;
}

.glide__arrows .glide__arrow .glide__arrow--left{
    float: left;
}

.glide__arrows .glide__arrow .glide__arrow--right{
    right: 0;
}

.glide__slide{
    transform: scale(.9);
    transition: all ease 0.5s;
}

.glide__slide.glide__slide--active{
    transform: scale(1);
}

/* Follow us Styles */
.follow-work {
    position: relative;
    background: linear-gradient(135deg, rgba(34, 62, 122, 0.9) 0%, rgba(35, 57, 82, 0.8) 100%), url("images/rangerover.jpg") center no-repeat;
    background-size: cover;
    box-sizing: border-box;
    background-position: center center;
    background-attachment: fixed;
}


.between{
    display: flex;
    align-items: center;
}


.follow-work .container{
    padding: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.follow-work .container .title-heading{
    color: #fafafa;
    margin-bottom: 0;
}

.social-contact{
    margin: 6rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.social-contact-icon{
    padding: 4rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 1;
    transition: all 650ms;
}

.social-contact-icon .icon-name{
    padding-top: 15px;
    font-size: 3.2rem;
    letter-spacing: 1.4px;
    text-align: center;
    color: #fafafa;
    text-transform: uppercase;
}

.social-contact img{
    height: 80px;
    width: 80px;
    transition: 0.2s;
}

/* Media queries */

@media screen and (min-width: 350px){
    .main-message{
        transform: translateY(20%) !important;
    }
}

@media screen and (min-width: 470px){

    .follow-work::before{
        height: 9.4rem;
        background: url("images/wave-medium.png");
        background-size: cover;
    }
}

@media screen and (min-width: 700px){

    .price .price-table{  
        margin: 1.5rem 0.5rem;
    }

    .follow-work .container{
        padding: auto 0;
        flex-direction: row;
    }

    .follow-work .container .title-heading{
        margin: auto 0;
    }
    
    .social-contact-icon{
        opacity: 0.8;
    }

    .social-contact-icon:hover{
        opacity: 1;
        scale: 1.2;
    }

    .social-contact .social-contact-icon .icon-name{
        font-size: 2.6rem;
        font-weight: 600;
    }

    .begin-adventure{
        margin-top: -2rem;
        padding-top: 2.5rem;
    }
}


.chossing-section-bg{
    background: #fc650124;
    padding: 0;
    padding-top: 60px;
    padding-bottom: 0;
}
.chossing-section-bg .container p{
    text-align: justify;
}

.img-sec-chose{
    background-size: contain;
    background-repeat: no-repeat;
}

@media screen and (min-width: 992px){

    .how-we-do-it-text{
        width: 53%;
    }

    .how-we-do-it-image{
        float: right;
        margin-top: 10%;
        margin-bottom: 4rem;
        width: 43%;
    }

    .testimonials::before{
        height: 22.7rem;
    }

    .follow-work{
        height: 50vh;
    }


    .social-contact{
        flex-direction: row;
    }

}

@media screen and (min-width: 1200px){
    
}

@keyframes up{
    0%{
        opacity: 0;
        transform: translateY(1rem);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translateY(-1rem);
    }
}

@keyframes fadeUp{
    0%{
        transform: translateY(4rem);
    }
    100%{
        opacity: 1;
        transform: translateY(0);

    }
}

@keyframes rotate{
    100%{
        transform: rotate(360deg);
    }
}



@keyframes scaleAndFade {
    from { 
        scale: .5;
        opacity: 1;
     }
    to   { 
        scale: 1.8;
        opacity: 0;
     }
}

/* Firefox < 16 */
@-moz-keyframes scaleAndFade {
    from { scale: .5; }
    to   { scale: 1.8; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes scaleAndFade {
    from { scale: .5; }
    to   { scale: 1.8; }
}

/* Internet Explorer */
@-ms-keyframes scaleAndFade {
    from { scale: .5; }
    to   { scale: 1.8; }
}

/* Opera < 12.1 */
@-o-keyframes scaleAndFade {
    from { scale: .5; }
    to   { scale: 1.8; }
}

/* Estilos para el carrusel */
.clients-logo {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: -10px; /* Ajusta el margen según tus necesidades */
  }
  
  .clients-logo::-webkit-scrollbar {
    width: 6px; /* Ancho del scrollbar */
  }
  
  .clients-logo::-webkit-scrollbar-thumb {
    background-color: #ccc; /* Color del scrollbar */
    border-radius: 3px; /* Radio de las esquinas del scrollbar */
  }
  
  .clients-logo::-webkit-scrollbar-thumb:hover {
    background-color: #aaa; /* Color del scrollbar al pasar el mouse */
  }
  
  .clients-logo .col-lg-2 {
    flex: 0 0 auto;
    margin: 10px; /* Ajusta el margen según tus necesidades */
  }
  
  /* Estilos para las imágenes de los logos */
  .client-thumb img {
    max-width: 100%;
    height: auto;
  }
  
  /* Eliminar los bordes del carrusel */
  .slick-prev,
  .slick-next {
    border: none;
    background: none;
    font-size: 18px;
    color: #000; /* Cambia el color de los controles si es necesario */
  }
  
  /* Estilos para los puntos de paginación (si los estás usando) */
  .slick-dots {
    position: absolute;
    bottom: 10px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  
  .slick-dots li {
    margin: 0 5px;
    padding: 0;
  }
  
  .slick-dots li button {
    background: #ccc;
    border: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .slick-dots li.slick-active button {
    background: #333;
  }
  






  /********** Template CSS **********/
:root {
    --primary: #FC6701;
    --secondary: #34AD54;
    --light: #EEF9FF;
    --dark: #091E3E;
}


/*** Spinner ***/
.spinner {
    width: 40px;
    height: 40px;
    background: var(--primary);
    margin: 100px auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
    0% {
        -webkit-transform: perspective(120px)
    }
    50% {
        -webkit-transform: perspective(120px) rotateY(180deg)
    }
    100% {
        -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
    }
}

@keyframes sk-rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    }
    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    }
    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Heading ***/
h1,
h2,
.fw-bold {
    font-weight: 800 !important;
}

h3,
h4,
.fw-semi-bold {
    font-weight: 700 !important;
}

h5,
h6,
.fw-medium {
    font-weight: 600 !important;
}


/*** Button ***/
.btn {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    transition: .5s;
}

.btn-primary,
.btn-secondary {
    color: #FFFFFF;
    box-shadow: inset 0 0 0 50px transparent;
}
.btn-primary{
    background: #FC6701;
    border: none;
}

.btn-primary:hover {
    box-shadow: inset 0 0 0 0 var(--primary);
}

.btn-secondary:hover {
    box-shadow: inset 0 0 0 0 var(--secondary);
}

.btn-square {
    width: 36px;
    height: 36px;
}

.btn-sm-square {
    width: 30px;
    height: 30px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}


/*** Navbar ***/
.navbar-dark .navbar-nav .nav-link {
    font-family: 'Nunito', sans-serif;
    position: relative;
    margin-left: 25px;
    padding: 35px 0;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    outline: none;
    transition: .5s;
}

.sticky-top.navbar-dark .navbar-nav .nav-link {
    padding: 20px 0;
    color: var(--dark);
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    color: var(--primary);
}

.navbar-dark .navbar-brand h1 {
    color: #FFFFFF;
}

.navbar-dark .navbar-toggler {
    color: var(--primary) !important;
    border-color: var(--primary) !important;
}

@media (max-width: 991.98px) {
    .sticky-top.navbar-dark {
        position: relative;
        background: #FFFFFF;
    }

    .navbar-dark .navbar-nav .nav-link,
    .navbar-dark .navbar-nav .nav-link.show,
    .sticky-top.navbar-dark .navbar-nav .nav-link {
        padding: 10px 0;
        color: var(--dark);
    }

    .navbar-dark .navbar-brand h1 {
        color: var(--primary);
    }
}

@media (min-width: 992px) {
    .navbar-dark {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        border-bottom: 1px solid rgba(256, 256, 256, .1);
        z-index: 999;
    }
    
    .sticky-top.navbar-dark {
        position: fixed;
        background: #FFFFFF;
    }

    .navbar-dark .navbar-nav .nav-link::before {
        position: absolute;
        content: "";
        width: 0;
        height: 2px;
        bottom: -1px;
        left: 50%;
        background: var(--primary);
        transition: .5s;
    }

    .navbar-dark .navbar-nav .nav-link:hover::before,
    .navbar-dark .navbar-nav .nav-link.active::before {
        width: 100%;
        left: 0;
    }

    .navbar-dark .navbar-nav .nav-link.nav-contact::before {
        display: none;
    }

    .sticky-top.navbar-dark .navbar-brand h1 {
        color: var(--primary);
    }
}


/*** Carousel ***/
.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(9, 30, 62, .7);
    z-index: 1;
}

@media (max-width: 576px) {
    .carousel-caption h5 {
        font-size: 14px;
        font-weight: 500 !important;
    }

    .carousel-caption h1 {
        font-size: 30px;
        font-weight: 600 !important;
    }
}

.carousel-control-prev,
.carousel-control-next {
    width: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
}


/*** Section Title ***/
.section-title::before {
    position: absolute;
    content: "";
    width: 150px;
    height: 5px;
    left: 0;
    bottom: 0;
    background: var(--primary);
    border-radius: 2px;
}

.section-title.text-center::before {
    left: 50%;
    margin-left: -75px;
}

.section-title.section-title-sm::before {
    width: 90px;
    height: 3px;
}

.section-title::after {
    position: absolute;
    content: "";
    width: 6px;
    height: 5px;
    bottom: 0px;
    background: #FFFFFF;
    -webkit-animation: section-title-run 5s infinite linear;
    animation: section-title-run 5s infinite linear;
}

.section-title.section-title-sm::after {
    width: 4px;
    height: 3px;
}

.section-title.text-center::after {
    -webkit-animation: section-title-run-center 5s infinite linear;
    animation: section-title-run-center 5s infinite linear;
}

.section-title.section-title-sm::after {
    -webkit-animation: section-title-run-sm 5s infinite linear;
    animation: section-title-run-sm 5s infinite linear;
}

@keyframes section-title-run {
    0% { left: 0; } 
    50% { left: 145px; } 
    100% { left: 0; }
}

@-webkit-keyframes section-title-run {
    0% { left: 0; } 
    50% { left: 145px; } 
    100% { left: 0; }
}

@keyframes section-title-run-center {
    0% { left: 50%; margin-left: -75px; } 
    50% { left: 50%; margin-left: 45px; } 
    100% { left: 50%; margin-left: -75px; }
}

@-webkit-keyframes section-title-run-center {
    0% { left: 50%; margin-left: -75px; } 
    50% { left: 50%; margin-left: 45px; } 
    100% { left: 50%; margin-left: -75px; }
}

@keyframes section-title-run-sm {
    0% { left: 0; } 
    50% { left: 85px; } 
    100% { left: 0; }
}

@-webkit-keyframes section-title-run-sm {
    0% { left: 0; } 
    50% { left: 85px; } 
    100% { left: 0; }
}



/*** Service ***/
.service-item {
    position: relative;
    height: 300px;
    padding: 0 30px;
    transition: .5s;
}

.service-item .service-icon {
    margin-bottom: 30px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary);
    border-radius: 2px;
    transform: rotate(-45deg);
}

.service-item .service-icon i {
    transform: rotate(45deg);
}

.service-item a.btn {
    position: absolute;
    width: 60px;
    bottom: -48px;
    left: 50%;
    margin-left: -30px;
    opacity: 0;
}

.service-item:hover a.btn {
    bottom: -24px;
    opacity: 1;
}


/*** Testimonial ***/
.testimonial-carousel .owl-dots {
    margin-top: 15px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    background: #DDDDDD;
    border-radius: 2px;
    transition: .5s;
}
.bg-primary-1{
    background: #2d3e64;
}

.testimonial-carousel .owl-dot.active {
    width: 30px;
    background: var(--primary);
}

.testimonial-carousel .owl-item.center {
    position: relative;
    z-index: 1;
}

.testimonial-carousel .owl-item .testimonial-item {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-item {
    background: #FFFFFF !important;
    box-shadow: 0 0 30px #DDDDDD;
}


/*** Team ***/
.team-item {
    transition: .5s;
}

.team-social {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}

.team-social a.btn {
    position: relative;
    margin: 0 3px;
    margin-top: 100px;
    opacity: 0;
}

.team-item:hover {
    box-shadow: 0 0 30px #DDDDDD;
}

.team-item:hover .team-social {
    background: rgba(9, 30, 62, .7);
}

.team-item:hover .team-social a.btn:first-child {
    opacity: 1;
    margin-top: 0;
    transition: .3s 0s;
}

.team-item:hover .team-social a.btn:nth-child(2) {
    opacity: 1;
    margin-top: 0;
    transition: .3s .05s;
}

.team-item:hover .team-social a.btn:nth-child(3) {
    opacity: 1;
    margin-top: 0;
    transition: .3s .1s;
}

.team-item:hover .team-social a.btn:nth-child(4) {
    opacity: 1;
    margin-top: 0;
    transition: .3s .15s;
}

.team-item .team-img img,
.blog-item .blog-img img  {
    transition: .5s;
}

.team-item:hover .team-img img,
.blog-item:hover .blog-img img {
    transform: scale(1.15);
}




/* Footer Styles */
#custom-footer {
    padding: 40px 0;
    color: #fff;
}

#custom-footer .widget h4 {
    font-size: 18px;
    font-weight: 600;
}

#custom-footer .footer-menu li {
    margin-bottom: 10px;
}

#custom-footer .footer-menu a {
    color: #fff;
    text-decoration: none;
}



#custom-footer .footer-menu a:hover {
    text-decoration: underline;
}

#custom-footer .logo h3 {
    font-size: 24px;
}

#custom-footer .footer-btm {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 20px;
    padding-top: 20px;
}

#custom-footer .copyright {
    font-size: 14px;
}

#custom-footer .footer-socials .fa {
    font-size: 20px;
    margin-right: 10px;
}

/* Responsive Styling */
@media (max-width: 768px) {
    #custom-footer .col-lg-3 {
        margin-bottom: 30px;
    }
}

.container-footer {
    justify-content: center;
    margin: 0 auto;
}









