/**
 * WEBSITE: https://themefisher.com
 * TWITTER: https://twitter.com/themefisher
 * FACEBOOK: https://www.facebook.com/themefisher
 * GITHUB: https://github.com/themefisher/
 */

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-family: 'Nunito', sans-serif;
    font-size: 10px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

.begin-adventures{
    background: #7a00ff;
}

ul{
    list-style: none;
}

p{
    font-size: 1.6rem;
}

img{
    width: 100%;
    max-width: 100%;
    height: auto;
}

section{
    padding: 5rem 0;
}

.center{
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Global Text and heading styles */

.title-heading{
    text-align: center;
    margin-bottom: 10rem;
    color: rgba(0, 0, 0, .7);
}

.title-heading h3{
    font-size: 2.6rem;
    text-transform: uppercase;
}

.title-heading h1{
    font-family: 'Aldrich', sans-serif;
    text-transform: uppercase;
    font-size: 3.4rem;
    margin: .5rem 0 1rem;
}

.title-heading p{
    font-size: 1.9rem;
}

.accent-text{
    color: #FC6701;
}

/*  Start preload */
.loading-overlay{
    background: linear-gradient(135deg, rgba(34, 62, 122, 1) 0%, rgba(35, 57, 82, 1) 100%);
    color:#fff;
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    z-index:99999;  	
}

.loader{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    z-index: 9999;
}

.loader-div{
    width: 100vw;
    height: 100vh;
    background: url('../images/logo.png') center no-repeat;
    background-size: contain; 
    animation: scaleAndFade 2.3s infinite;
}

/* FAB Styles */
.fab-container{
    position: fixed;
    bottom: 3rem;
    right: 2.5rem;
    z-index: 9999;
    cursor: pointer;
}

.fab-icon-holder{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: #ec8c0d;
    box-shadow: 0 6px 20px rgba(0, 0, 0, .4);
    opacity: 0.9;
    transition: opacity 350ms;
}

.fab-icon-holder:focus,
.fab-icon-holder:hover{
    opacity: 1;
}

.fab-icon-holder i{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 2.5rem;
    color: #172A54;
}

.main-fab{
    height: 6rem;
    width: 6rem;
    opacity: 0.8;
}

.fab-options{
    list-style: none;
    margin: 0;
    position: absolute;
    bottom: 7rem;
    right: 0;
    opacity: 0;
    transition: all 500ms ease;
    transform: scale(0);
    transform-origin: 85% bottom;
}

.main-fab:hover + .fab-options, .fab-options:hover{
    opacity: 1;
    transform: scale(1);
}

.fab-options li{
    display: flex;
    justify-content: flex-end;
    padding: 5px;
}

.fab-label{
    padding: 2px 8px;
    align-self: center;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    white-space: nowrap;
    border-radius: 8px;
    font-size: 16px;
    color: #172A54;
    background: #fafafa;
    box-shadow: 0 6px 20px rgba(0, 0, 0, .2);
    margin-right: 1rem;
}

/* Header styles */
header{
    width: 100%;
    height: 5rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
}

.nav-container{
    position: absolute;
    left: 0;
    padding-right: 2.5rem;
    padding-left: 2rem;
    width: 100%;
    background-color: #2d3e64;
    /* background: linear-gradient(135deg, rgba(34, 62, 122, .5) 0%, rgba(35, 57, 82, .7) 100%); */
    height: 100px;
}

.container{
    width: 100%;
    max-width: 112rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .6rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.nav-brand{
    min-width: 15rem;
    width: 20rem;
    margin-left: -1.5rem;
}

.menu-icons i{
    font-size: 3.5rem;
    color: #fafafa;
    cursor: pointer;
}

.close i{
    color: #FC6701;
}

.nav-list{
    width: 25rem;
    height: 100vh;
    background-color: #d4d7ed;
    position: fixed;
    top: 0;
    right: -26rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1500;
    transition: all 650ms ease-in-out;
}

.nav-list.active{
    right: 0;
}

.close{
    position: absolute;
    top: 1rem;
    left: 1.5rem;
}

.nav-item{
    margin: 1.5rem 0;
}

.nav-link{
    font-size: 1.6rem;
    text-transform: uppercase;
    color: rgba(0, 0, 0, .7);
}

/* Hero styles */

.hero{
    width: 100%;
    height: 80vh;
    background: linear-gradient(135deg, rgba(34, 62, 122, 0.9) 0%, rgba(35, 57, 82, 0.8) 100%), url("../images/pdr-service.jpg") center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}



.clients{
    margin-top: -40px;
}
.main-message{
    width: 100%;
    max-width: 100%;
    color: #fafafa;
    text-transform: uppercase;
    transform: translateY(20%) !important;
}

.main-message h3{
    font-size: 2.1rem;
}

.main-message h1{
    font-family: 'Aldrich', sans-serif;
    font-size: 5.7rem;
    margin: 1rem 0;
}

.main-message p{
    text-transform: none;
}

.btn{
    background-color: #FC6701;
    border-radius: 1.2rem;
    font-weight: 600;
    font-size: 1.3rem;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    border: solid 3px #FC6701;
    color: #fafafa;
    display: inline-block;
    margin-top: 2.2rem;
    padding: 1.2rem 2.3rem;
    transition: all 650ms;
}

.btn:hover{
    color: #FC6701;
    background-color: transparent;
}

/* Footer Styles */






/* Contact us styles */
.contact{
    position: relative;
    min-height: 100vh;
    padding: 6rem 1rem;
    padding-bottom: 11rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(135deg, rgba(34, 62, 122, 0.9) 0%, rgba(35, 57, 82, 0.8) 100%), url("../images/porshe.jpg");
    background-size: cover;
}

.contact .content{
    text-align: center;
}

.contact .content .title-heading{
    margin-bottom: 3.5rem;
}

.contact .content h2{
    font-size: 3.6rem;
    font-weight: 500;
    color: white;
}

.contact .content p{
    font-weight: 300;
    color: white;
}

.contact .inner-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.contact .inner-container .contactInfo{
    width: 100%;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
}

.contact .inner-container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.contact .inner-container .contactInfo .box .icon{
    min-width: 6rem;
    height: 6rem;
    background: #ec8c0d;;
    color: #2D4561;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 2.7rem;
}

.contact .inner-container .contactInfo .box .text{
    display: flex;
    margin-left: 2rem;
    font-size: 1.6rem;
    flex-direction: column;
    font-weight: 300;
    color: white;
}

.contact .inner-container .contactInfo .box .text h3{
    font-weight: 600;
    color: #FC6701;
}

.contactForm{
    width: 100%;
    padding: 3rem;
    background: rgba(255, 255, 255, .2);
    border-radius: 1.2rem;
}

.contactForm h2{
    font-family: 'Aldrich', sans-serif;
    font-size: 3rem;
    color: #fafafa;
    font-weight: 500;
    margin-bottom: 1rem;
}

.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 1rem;
}

.contactForm .inputBox input, .contactForm .inputBox textarea{
    width: 100%;
    padding: 0.5rem 0;
    font-size: 1.8rem;
    margin: 1rem 0;
    border: none;
    color: white;
    border-bottom: 2px solid white;
    background: transparent;
    outline: none;
    resize: none;
}

.contactForm .inputBox span{
    font-family: 'Aldrich', sans-serif;
    position: absolute;
    left: 0;
    padding: 0.5rem 0;
    font-size: 1.6rem;
    margin: 1rem 0;
    pointer-events: none;
    transition: 0.5s;
    color: white;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
    color: #FC6701;
    font-size: 1.35rem;
    transform: translateY(-25px);
}

.contactForm .inputBox input[type="submit"]{
    background-color: #FC6701;
    width: 40%;
    max-width: 150px;
    border-radius: 1.2rem;
    font-weight: 600;
    font-size: 1.3rem;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    border: solid 3px #FC6701;
    color: #fafafa;
    display: inline-block;
    margin-top: 2.2rem;
    padding: 1rem 2rem;
    margin-left: 50%;
    transform: translateX(-50%);
    transition: all 650ms;
}

.contactForm .inputBox input[type="submit"]:hover{
    background-color: transparent;
}

/* Media queries */

@media screen and (min-width: 350px){
    .main-message{
        transform: translateY(20%) !important;
    }
}

@media screen and (min-width: 470px){

    #container-banner h1{
        font-size: 6px;
    }
    .main-message{
        transform: translateY(25%) !important;
    }
    .main-message p {
        max-width: 70%;
    }
}

@media screen and (min-width: 700px){
      
    .hero{
        height: 100vh;
    }

    .main-message{
        transform: translateY(35%) !important;
    }

    .title-heading h3{
        font-size: 2.9rem;
        font-weight: 100;
    }

    .title-heading h1{
        font-size: 4rem;
    }
}

@media screen and (min-width: 950px){
    header{
        height: 8rem;
    }

    .nav-container{
        position: absolute;
        left: 0;
        padding-left: 9rem;
        padding-right: 9rem;
    }

    .nav-brand{
        width: 20rem;
    }

    .nav-list{
        width: initial;
        height: initial;
        background-color: transparent;
        position: initial;
        top: initial;
        right: initial;
        flex-direction: row;
        transition: initial;
    }

    .menu-icons{
        display: none;
    }

    .nav-item{
        margin: 0 1rem;
    }

    .nav-link,
    .current{
        color: #fafafa;
        position: relative;
        font-size: 1.6rem;
        transition: color 650ms;
    }

    .nav-link::before,
    .current::before{
        content: "";
        position: absolute;
        left: 0;
        bottom: -.5rem;
        background-color: #FC6701;
        width: 100%;
        height: 2px;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 650ms;
    }

    .nav-link:hover{
        color: #FC6701;
    }

    .current::before{
        transform: scaleX(1);
    }

    .nav-link:hover::before{
        transform: scaleX(1);
    }
    
    .fab-container{
        bottom: 5rem;
        right: 5rem;
    }


    .main-message{
        max-width: 100%;
    }

    .contact{
        padding-bottom: 9rem;
    }

    .contact .content .title-heading{
        margin-bottom: 8.5rem;
    }

    .contact .inner-container{
        flex-direction: row;
    }

    .contact .inner-container .contactInfo{
        width: 50%;
    }

    .contact .inner-container .contactForm{
        width: 45%;
    }

}

@media screen and (min-width: 1200px){
    .hero{
        height: 100vh;
    }
    
    main .main-message{
        max-width: 100%;
        transform: translateY(35%) !important;
    }

    .main-message h1{
        font-size: 8.4rem;
        font-weight: 100;
    }

    .main-message p{
        max-width: 65rem;
    }
}

@keyframes up{
    0%{
        opacity: 0;
        transform: translateY(1rem);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translateY(-1rem);
    }
}

@keyframes fadeUp{
    0%{
        transform: translateY(4rem);
    }
    100%{
        opacity: 1;
        transform: translateY(0);

    }
}

@keyframes fadeDown{
    0%{
        transform: translateY(-4rem);
    }
    100%{
        opacity: 1;
        transform: translateY(0);

    }
}

@keyframes rotate{
    100%{
        transform: rotate(360deg);
    }
}

@keyframes scaleAndFade {
    from { 
        scale: .5;
        opacity: 1;
     }
    to   { 
        scale: 1.8;
        opacity: 0;
     }
}

@keyframes grow{
    0%{
        width: 0;
    }
    100%{
        opacity: 1;
        width: 100%;

    }
}

/* Firefox < 16 */

/* Safari, Chrome and Opera > 12.1 */

/* Internet Explorer */

/* Opera < 12.1 */



/* CSS */
.button-85 {
  padding: 1.2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #fc6701;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
font-size: 13px;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fc6701;
  left: 0;
  top: 0;
  border-radius: 10px;
}






/* this part is above the footer */
@media (max-width: 700px) {
  
    #cont-form-footer > div{
      justify-content: center;
      margin: 0 auto;
      text-align: center;
    }
  }

  .bg-color-cta{
    width: 100%;
    background: white;
    justify-content: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 0 auto;
    border-radius: 8px;
  }


  #cont-form-footer > a{
    text-decoration: none;
  }




  /* Services tab section */
.service-tab-section {
  position: relative;
}
.service-tab-section .outer-box {
  position: relative;
  z-index: 1;
}

/* END Services tab section */
.activities-grid-item > div p {
    text-align: justify;
}

/* Footer Styles */
#custom-footer {
    padding: 40px 0;
    color: #fff;
}

#custom-footer .widget h4 {
    font-size: 18px;
    font-weight: 600;
}

.widget > img {
    width: 500px;
}

#custom-footer .footer-menu li {
    margin-bottom: 10px;
}

#custom-footer .footer-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}


#custom-footer .footer-menu a:hover {
    text-decoration: underline;
}

#custom-footer .logo h3 {
    font-size: 24px;
}

#custom-footer .footer-btm {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 20px;
    padding-top: 20px;
}

#custom-footer .copyright {
    font-size: 14px;
}

#custom-footer .footer-socials .fa {
    font-size: 20px;
    margin-right: 10px;
}

/* Responsive Styling */
@media (max-width: 768px) {
    #custom-footer .col-lg-3 {
        margin-bottom: 30px;
    }
}

.container-footer {
    justify-content: center;
    margin: 0 auto;
}




/*** Navbar ***/
.navbar-dark .navbar-nav .nav-link {
    font-family: 'Nunito', sans-serif;
    position: relative;
    margin-left: 25px;
    padding: 35px 0;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    outline: none;
    transition: .5s;
}

.sticky-top.navbar-dark .navbar-nav .nav-link {
    padding: 20px 0;
    color: var(--dark);
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    color: var(--primary);
}

.navbar-dark .navbar-brand h1 {
    color: #FFFFFF;
}

.navbar-dark .navbar-toggler {
    color: var(--primary) !important;
    border-color: var(--primary) !important;
}

@media (max-width: 991.98px) {
    .sticky-top.navbar-dark {
        position: relative;
        background: #FFFFFF;
    }

    .navbar-dark .navbar-nav .nav-link,
    .navbar-dark .navbar-nav .nav-link.show,
    .sticky-top.navbar-dark .navbar-nav .nav-link {
        padding: 10px 0;
        color: var(--dark);
    }

    .navbar-dark .navbar-brand h1 {
        color: var(--primary);
    }
}

@media (min-width: 992px) {
    .navbar-dark {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        border-bottom: 1px solid rgba(256, 256, 256, .1);
        z-index: 999;
    }
    
    .sticky-top.navbar-dark {
        position: fixed;
        background: #FFFFFF;
    }

    .navbar-dark .navbar-nav .nav-link::before {
        position: absolute;
        content: "";
        width: 0;
        height: 2px;
        bottom: -1px;
        left: 50%;
        background: var(--primary);
        transition: .5s;
    }

    .navbar-dark .navbar-nav .nav-link:hover::before,
    .navbar-dark .navbar-nav .nav-link.active::before {
        width: 100%;
        left: 0;
    }

    .navbar-dark .navbar-nav .nav-link.nav-contact::before {
        display: none;
    }

    .sticky-top.navbar-dark .navbar-brand h1 {
        color: var(--primary);
    }
}


.container-footer {
    justify-content: center;
    margin: 0 auto;
}








/* Services Tabs start */
/* Services Tabs start */
/* Sidebar menu none */
/* Desktop */
/* Sidebar menu */
.main-container{
    padding: 5rem;
    width: 100%;
    height: 140vh; 
    margin-top: -40px;
  }
  .desktop-menu{
    margin-top: 15px;
  }
  
  #sidebar {
    width: 390px;
    background-color: #f1f1f1;
    padding: 10px;
    cursor: pointer;
    border-radius: 8px;
    margin-left: 100px;
  }
  
  #sidebar ul {
    list-style-type: none;
    padding: 1rem;
  }
  
  #sidebar li.activeDesk {
    background: white;
    scale: 1.05;
    border-radius: 8px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    font-weight:bolder
  }
  #sidebar li.activeDesk::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 4px; /* Ancho de la línea vertical */
    height: 100%;
    background-color: #FC6701; /* Color de la línea vertical */
    border-radius: 8px;
  }
  #sidebar li.activeDesk a, #sidebar li.activeDesk a:hover {
    background: white;
    border-radius: 8px;
  }
  
  #sidebar li a {
    text-decoration: none;
    color: #2b6cb0;
    display: block;
    padding: 3px;
    border-radius: 5px;
    margin-left: 10px;
    font-size: 17px;
    margin-bottom: 15px;
  }
  
  #sidebar li:hover {
    background-color: white;
    border-radius: 8px;
    cursor: pointer;
  }
  #informacion-servicio {
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  #iframe-servicio{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: white;
    border-radius: 5px;
  }
  
  @media (min-width: 1920px) {
    .main-container{
        padding: 5rem;
        width: 100%;
        height: 103vh; 
      }
  }
  /* END Sidebar menu */
  
  /* Mobile */
  @media (max-width: 768px) {
    /* Ocultar el menú de escritorio en dispositivos móviles */
    .main-container {
      flex-direction: column;
      padding: 0;
      padding-top: 30px;
      position: relative;
  
    }
  
    #iframe-servicio{
      width: 100%;
      height: 100%;
      margin: 0 auto;
      background-color: white;
      border-radius: 5px;
      border: none;
      display: block;
    }
    .desktop-menu {
      position: relative;
      margin-bottom: 10px;
    }
    #sidebar{
      display: none;
    }
  
    .dropdown-button {
      padding: 10px;
      background-color: #ffffff;
      color: #2b6cb0;
      border: none;
      font-weight: bolder;
      width: 100%;
      cursor: pointer;
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
      z-index: 2;
      border-radius: 8px;
      height: 60px;
    }
    .dropdown-button:hover{
      border-radius: 8px 8px 0 0;
    }
    
    .dropdown-button span {
      flex: 1;
      text-align: left;
      margin-right: 10px;
    }
  
    .mobile-menu {
      display: relative;
      padding: 1rem;
      list-style: none;
      position: relative;
      margin-top: -20px;
      position: relative;
    }
  
    .dropdown-content {
      display: none;
      margin-top: -28px;
      padding: 1.5rem;
      width: 91.5%;
      color: #2b6cb0;
      list-style: none;
      background-color: #f1f1f1;
      margin-left: 16px;
      top: 20px;
      left: 0;
      box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
      z-index: 1;
      border-radius: 0 0 8px 8px;
      cursor: pointer;
      max-height: 300px;
      overflow: auto;
      position: absolute;
      top: 100%; /* Ajustar según el diseño de tu página */
      left: 0;
      display: none;
    }
  
    .dropdown-content li a {
      display: block;
      padding: 10px;
      text-decoration: none;
      color: #2b6cb0;
      font-weight: bold;
      text-align: left;
    }
    .dropdown-content li:hover {
      background-color: white;
      border-radius: 8px;
    }
    .dropdown-content.open{
      display: block;
    }
    .mobile-section{
      flex-direction: column;
    }
    .mobile-section > * {
      width: 100%;
    }
    
    /* Mostrar el dropdown menu en dispositivos móviles */
    .dropdown.open .dropdown-content {
      display: block;
    }
  
    /* Estilos adicionales para ocupar todo el ancho de la pantalla */
    .mobile-section {
      flex-direction: column;
    }
    
    .mobile-section > * {
      width: 100%;
    }
  }
  
  /* Estilos para dispositivos con ancho mínimo de 693px */
  @media (min-width: 770px) {
    /* Ocultar el menú móvil en dispositivos de escritorio */
    .mobile-menu {
      display: none;
    }
    .dropdown-button {
      font-size: 20px;
    }
    
    /* Mostrar el menú de escritorio en dispositivos de escritorio */
    .desktop-menu {
      display: block;
    }
  }
  
  .text-services-1{
    font-size: 30px;
    text-align: center;
  }
  .section-title-service{
    width: 50%;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: -30px;
  }
  @media (max-width: 770px) {
    .text-services-1{
        font-size: 20px;
        text-align: center;
      }
      .section-title-service{
        width: 100%;
        justify-content: center;
        margin: 0 auto;
        margin-bottom: -30px;
      }
  }
  /* END Sidebar menu none */
/* Services Tabs END */

/*# sourceMappingURL=global.css.map */
