/**
 * WEBSITE: https://MichaelNarvaez.com
 * TWITTER: https://twitter.com/MichaelNarvaez
 * FACEBOOK: https://www.facebook.com/MichaelNarvaez
 * GITHUB: https://github.com/MichaelNarvaez/
 */

/* guirnaldas */

.guirnalda-container {
    position: cover;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 1000; /* para que quede encima de los elementos */
    margin-bottom: -80px; /* para que quede justo en medio de los sections */
  }
  
  .guirnalda {
    display: flex;
  }
  
  .imagen-guirnalda {
    flex-grow: 1;
    height: 150px; /* tamanio de la imagen */
    background-size: cover;
    background-repeat: repeat-x;
    z-index: 1000; /* para que quede encima de los elementos */
  }

  @media (max-width: 767px) {
    .imagen-guirnalda {
        flex-grow: 1;
        height: 100px; /* Ajusta según sea necesario */
        background-size: cover;
        background-repeat: repeat-x;
      }
  }
  
  /* Estilos para tamaños de pantalla medianos (tabletas) */
  @media (min-width: 768px) and (max-width: 1023px) {
    .imagen-guirnalda {
        flex-grow: 1;
        height: 110px; /* Ajusta según sea necesario */
        background-size: cover;
        background-repeat: repeat-x;
      }
  }
  
  /* Estilos para tamaños de pantalla grandes (escritorio) */
  @media (min-width: 1024px) and (max-width: 1279px) {
    /* Estilos específicos para pantallas grandes */
  }
  
  /* Estilos para tamaños de pantalla extra grandes (monitores) */
  @media (min-width: 1280px) {
    /* Estilos específicos para pantallas extra grandes */
  }
  
/* guirnaldas */





/* CARDS styles */
.guirnalda-container-card {
    position: cover;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 1000; /* para que quede encima de los elementos */
    margin-top: -90px; /* para que quede justo en medio de los sections */
    background-position: center; /* Ajusta la posición según tu preferencia */
  }
  
  .guirnalda-card {
    display: flex;
  }
  
  .imagen-guirnalda-card {
    flex-grow: 1;
    height: 100px; /* tamanio de la imagen */
    background-size: cover;
    background-repeat: repeat-x;
    z-index: 1000; /* para que quede encima de los elementos */
    border-radius: 15rem; /* esto es para difuminar el corte de imagen al final */
  }
/* CARDS styles */

/* CARDS styles BLOG POST*/
.guirnalda-container-card-post {
    position: cover;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 1000; /* para que quede encima de los elementos */
    margin-top: -50px; /* para que quede justo en medio de los sections */
    background-position: center; /* Ajusta la posición según tu preferencia */
  }
  
  .guirnalda-card-post {
    display: flex;
  }
  
  .imagen-guirnalda-card-post {
    flex-grow: 1;
    height: 100px; /* tamanio de la imagen */
    background-size: cover;
    background-repeat: repeat-x;
    z-index: 1000; /* para que quede encima de los elementos */
    border-radius: 15rem; /* esto es para difuminar el corte de imagen al final */
  }
/* CARDS styles BLOG POST*/


/* BELLOW HERO */
.guirnalda-container-hero {
    position: cover;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 1000; /* para que quede encima de los elementos */
    margin-bottom: -80px; /* para que quede justo en medio de los sections */
    margin-top: -80px; /* para que quede justo en medio de los sections */
  }
  @media (max-width: 768px) {
    .imagen-guirnalda-hero {
      display: none;
    }
    .imagen-guirnalda-hero-blog {
      display: none;
    }
    .mobile-hero-guirnalda{
      flex-grow: 1;
      height: 140px; /* tamanio de la imagen */
      background-size: cover;
      background-repeat: repeat-x;
      z-index: 1000; /* para que quede encima de los elementos */
    }
    .mobile-hero-guirnalda-blog{
      flex-grow: 1;
      height: 140px; /* tamanio de la imagen */
      background-size: cover;
      background-repeat: repeat-x;
      z-index: 1000; /* para que quede encima de los elementos */
    }
    .guirnalda-container-hero-blog {
      margin-top: -100px !important; /* para que quede justo en medio de los sections */
    }
  }
  
  .guirnalda-hero {
    display: flex;
  }
  
  .imagen-guirnalda-hero {
    flex-grow: 1;
    height: 140px; /* tamanio de la imagen */
    background-size: cover;
    background-repeat: repeat-x;
    z-index: 1000; /* para que quede encima de los elementos */
  }
/* BELLOW HERO */

/* BELLOW HERO BLOG*/
.guirnalda-container-hero-blog {
    position: cover;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 1000; /* para que quede encima de los elementos */
    margin-bottom: -5px; /* para que quede justo en medio de los sections */
    margin-top: -90px; /* para que quede justo en medio de los sections */
  }
  
  .guirnalda-hero-blog {
    display: flex;
  }
  
  .imagen-guirnalda-hero-blog {
    flex-grow: 1;
    height: 140px; /* tamanio de la imagen */
    background-size: cover;
    background-repeat: repeat-x;
    z-index: 1000; /* para que quede encima de los elementos */
  }
/* BELLOW HERO BLOG*/
/*# sourceMappingURL=seasonEffects.css.map */
